[user]
	email = maxi.kuschewski@gmail.com
	name = Maximilian Kuschewski
[core]
	excludesfile = /Users/Maxi/.gitignore_global
	editor = vim
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[color]
	ui = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[init]
	defaultBranch = master
[safe]
	directory = /etc/nixos/shared-setup
