[submodule "vim/.vim/autoload"]
	path = vim/.vim/autoload
	url = https://github.com/junegunn/vim-plug

[submodule "vim/.vim/bundle/vim-parinfer"]
	path = vim/.vim/bundle/vim-parinfer
	url = https://github.com/bhurlow/vim-parinfer.git

[submodule "vim/.vim/bundle/molokai"]
	path = vim/.vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git

[submodule "vim/.vim/bundle/lightline.vim"]
        path = vim/.vim/bundle/lightline.vim
        url = https://github.com/itchyny/lightline.vim

[submodule "vim/.vim/bundle/nerdtree"]
        path = vim/.vim/bundle/nerdtree
        url = https://github.com/scrooloose/nerdtree

[submodule "vim/.vim/bundle/vim-orgmode"]
        path = vim/.vim/bundle/vim-orgmode
        url = https://github.com/jceb/vim-orgmode

[submodule "vim/.vim/bundle/vim-easymotion"]
        path = vim/.vim/bundle/vim-easymotion
        url = https://github.com/Lokaltog/vim-easymotion

[submodule "vim/.vim/bundle/vim-surround"]
        path = vim/.vim/bundle/vim-surround
        url = https://github.com/tpope/vim-surround

[submodule "vim/.vim/bundle/nerdcommenter"]
        path = vim/.vim/bundle/nerdcommenter
        url = https://github.com/scrooloose/nerdcommenter

[submodule "vim/.vim/bundle/syntastic"]
        path = vim/.vim/bundle/syntastic
        url = https://github.com/scrooloose/syntastic

[submodule "vim/.vim/bundle/supertab"]
        path = vim/.vim/bundle/supertab
        url = https://github.com/ervandew/supertab

[submodule "vim/.vim/bundle/ctrlp.vim"]
        path = vim/.vim/bundle/ctrlp.vim
        url = https://github.com/kien/ctrlp.vim

[submodule "vim/.vim/bundle/vim-ctrlspace"]
        path = vim/.vim/bundle/vim-ctrlspace
        url = https://github.com/vim-ctrlspace/vim-ctrlspace

[submodule "vim/.vim/bundle/SpotlightOpen"]
        path = vim/.vim/bundle/SpotlightOpen
        url = https://github.com/vim-scripts/SpotlightOpen

[submodule "vim/.vim/bundle/paredit.vim"]
        path = vim/.vim/bundle/paredit.vim
        url = https://github.com/vim-scripts/paredit.vim

[submodule "vim/.vim/bundle/vim-fireplace"]
        path = vim/.vim/bundle/vim-fireplace
        url = https://github.com/tpope/vim-fireplace

[submodule "vim/.vim/bundle/vim-elixir"]
	path = vim/.vim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git

[submodule "tmux/.tmux/plugins/tpm"]
        path = tmux/.tmux/plugins/tpm
        url = https://github.com/tmux-plugins/tpm

[submodule "tmux/.tmux/plugins/tmux-resurrect"]
        path = tmux/.tmux/plugins/tmux-resurrect
        url = https://github.com/tmux-plugins/tmux-resurrect

[submodule "tmux/.tmux/plugins/tmux-yank"]
        path = tmux/.tmux/plugins/tmux-yank
        url = https://github.com/tmux-plugins/tmux-yank

[submodule "tmux/.tmux/plugins/tmux-continuum"]
	path = tmux/.tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum

[submodule "bin/getquote-crypto"]
	path = bin/getquote-crypto
	url = https://github.com/maxi-k/getquote-crypto

[submodule "bin/z"]
	path = bin/z
	url = https://github.com/rupa/z

[submodule "vim/.vim/bundle/elm-vim"]
	path = vim/.vim/bundle/elm-vim
	url = https://github.com/elmcast/elm-vim.git

[submodule "emacs/.emacs.d"]
        path = emacs/.emacs.d
        url = https://github.com/maxi-k/.emacs.d
[submodule "doom/.config/doom/themes/bleak"]
	path = doom/.config/doom/themes
	url = https://github.com/maxi-k/emacs-bleak-theme
