.bash_local
.tmuxinator
.viminfo
leiningen/.lein/repl-history

# Everything in .xmonad, except config files
xmonad/.xmonad/*
!xmonad/.xmonad/xmonad.hs
!xmonad/.xmonad/xmobar.config
!xmonad/.xmonad/xmonad-session-rc
!xmonad/.xmonad/*.conf
/leiningen/.lein/self-installs/*
/leiningen/.lein/self-installs
/X/.config/albert/core.db
/X/.config/albert/last_used_version

# Mac
.DS_Store