Config { font = "xft:Bitstream Vera Sans Mono:size=9:bold:antialias=true"
    , borderColor = "#202020"
    , border = FullB 10
    , bgColor = "#202020"
    , fgColor = "grey"
    , position = TopSize C 100 23 
    , commands = 
            [ Run Network "enp5s0" ["-L","0","-H","32"] 10
            , Run Cpu ["-L","3","-H","50","--high","red"] 10
            , Run Memory ["-t","Mem: <usedratio>%"] 10
            , Run Swap [] 10
            , Run Com "whoami" [] "whoami" 36000
            , Run Date "%a %b %_d %Y %H:%M" "date" 30
            , Run Kbd []
            , Run StdinReader
    ]
    , sepChar = "%"
    , alignSep = "}{"
    , template = " %StdinReader% } <fc=#ee9a00>%date%</fc> { <fc=#777> - %enp5s0% | %cpu% | %memory% * %swap% - </fc>%kbd% | %whoami% "
}
