Config { font = "xft:Font Awesome:s1ze=3:antialias=true,Bitstream Vera Sans Mono:size=9:bold:antialias=true"
    , borderColor = "#202020"
    , border = FullB 10
    , bgColor = "#202020"
    , fgColor = "grey"
    , position = TopSize C 100 23
    , commands =
            [ Run Network "enp5s0" ["-L","0","-H","32"] 10
            , Run Cpu ["-L","3","-H","50","--high","red"] 10
            , Run Memory ["-t","Mem: <usedratio>%"] 10
            , Run Battery [
                "-t", "<acstatus> <left>%",
                "--",
                -- "-c", "charge_full",
                "-O", "\xf1e6",
                "-o", "\xf241",
                "-h", "green",
                "-l", "red"] 10
            , Run Swap [] 10
            , Run Com "whoami" [] "whoami" 36000
            , Run Date "%a %b %_d %Y %H:%M" "date" 30
            , Run Kbd []
            , Run UnsafeStdinReader
    ]
    , sepChar = "%"
    , alignSep = "}{"
    , template = " %UnsafeStdinReader% } <action=`gnome-calendar`><fc=#ee9a00>%date%</fc></action> { <fc=#777> %enp5s0% | %cpu% | %memory% * %swap% | %battery% - </fc>%kbd% | %whoami% "
}
