#!/bin/sh
export DOTFILES_XPROFILE_LOADED="true"

[ -f ${HOME}/.config/shell/profile ] && [ -z $DOTFILES_PROFILE_LOADED ] && source ${HOME}/.config/shell/profile 

[ -e ${HOME}/.config/X/default-config ] && xrdb ${HOME}/.config/X/default-config 

[ -f ${HOME}/.config/screenlayout ] && ${HOME}/.config/screenlayout 

# [ -e ${HOME}/.config/polybar/start.sh ] && ${HOME}/.config/polybar/start.sh 

start_themed_apps() {
  command -v dunst && (pgrep dunst || dunst) &  # Dunst the messaging service
}

tiling_wm() {
  command -v mktheme && mktheme && start_themed_apps & # Create a theme for this session
  command -v unclutter && (pgrep unclutter || unclutter) & # Hide mouse cursor when unused
  command -v nm-applet && (pgrep nm-applet || nm-applet) &
  command -v gsettings && export GTK_THEME=$(gsettings get org.gnome.desktop.interface gtk-theme | sed "s/'//g")
  test -d "$HOME/.local/share/flatpak/exports/bin" && export PATH="$PATH:$HOME/.local/share/flatpak/exports/bin"
  # Set logitech mouse speed
  command -v xinput && xinput --set-prop "pointer:Logitech MX Master 3" 'libinput Accel Speed' -0.5 &
  command -v xset && xset mouse 3 6 &
  command -v setup-wacom && setup-wacom &
}

if [ "$XDG_SESSION_DESKTOP" = "dwm" ]; then
  tiling_wm
  command -v slstatus && (pgrep slstatus || slstatus) & # slstatus for dwm
fi

if [ "$XDG_SESSION_DESKTOP" = "bspwm" ]; then
  tiling_wm
fi

# Bind hotkeys
command -v start-keybindings && start-keybindings &

# Start syncthing if not started yet and not running
command -v syncthing && (pgrep syncthing || syncthing -no-browser) &

export _JAVA_AWT_WM_NONREPARENTING=1
